@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Лаба 2</title>
</head>
<body>
    <div>
        <h3>Одобрить доступ?</h3>
        <table>
            <tr>
                <td><p><a href="/Home/Yes">Да</a></p></td><td><p><a href="/Home/No">Нет</a></p></td>
            </tr>
        </table>
    </div>
</body>
</html>