@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Запрет</title>
</head>
<body>
    <div>
        <h3>Некорректный ClientId, либо доступ не одобрен</h3>

    </div>
</body>
</html>